<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.netlink.pangu.ask.dao.AnswerDAO" >
    <resultMap id="BaseResultMap" type="com.netlink.pangu.ask.model.AnswerDO" >
        <result column="id" property="id" />
        <result column="question_id" property="questionId" />
        <result column="user_id" property="userId" />
        <result column="user_name" property="userName" />
        <result column="answer" property="answer" />
        <result column="comments" property="comments" />
        <result column="likes" property="likes" />
        <result column="dislikes" property="dislikes" />
        <result column="is_delete" property="isDelete" />
        <result column="gmt_created" property="gmtCreated" />
        <result column="gmt_modified" property="gmtModified" />
    </resultMap>

    <update id="updateComments" parameterType="java.lang.Long">
        UPDATE ask_answer
        SET comments = comments + 1, gmt_modified = now()
        WHERE id = #{id}
    </update>

    <update id="updateLikes" parameterType="java.lang.Long">
        UPDATE ask_answer
        SET likes = likes + 1, gmt_modified = now()
        WHERE id = #{id}
    </update>

    <update id="updateDislikes" parameterType="java.lang.Long">
        UPDATE ask_answer
        SET dislikes = dislikes + 1, gmt_modified = now()
        WHERE id = #{id}
    </update>


</mapper>
