<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.netlink.pangu.dao.qa.QaQuestionDAO" >
    <resultMap id="BaseResultMap" type="com.netlink.pangu.entity.qa.QaQuestionDO" >
        <result column="id" property="id" />
        <result column="category_id" property="categoryId" />
        <result column="category_name" property="categoryName" />
        <result column="title" property="title" />
        <result column="question" property="question" />
        <result column="user_id" property="userId" />
        <result column="user_name" property="userName" />
        <result column="views" property="views" />
        <result column="answers" property="answers" />
        <result column="thumb_down" property="thumbDown" />
        <result column="thumb_up" property="thumbUp" />
        <result column="is_delete" property="deleted" />
        <result column="gmt_created" property="gmtCreated" />
        <result column="gmt_modified" property="gmtModified" />
    </resultMap>

    <sql id="BaseColumn">
        id, category_id, category_name, title, question, user_id, user_name, views, answers, thumb_down, thumb_up,
        is_delete, gmt_created, gmt_modified
    </sql>

    <select id="findByCondition" parameterType="java.util.HashMap" resultMap="BaseResultMap">
        SELECT <include refid="BaseColumn" />
        FROM ask_question
        <where>
            <if test="categoryId != null">
                AND category_id = #{categoryId}
            </if>
            <if test="startTime != null">
                AND gmt_created &gt;= #{startTime}
            </if>
            <if test="endTime != null">
                AND gmt_created &lt; #{endTime}
            </if>
        </where>
                ORDER BY
        <choose>
            <when test="orderBy != null">
                ${orderBy}
            </when>
        </choose>
    </select>

    <update id="updateThumbUp" parameterType="java.lang.Long">
        UPDATE ask_question
        SET thumb_up = thumb_up + 1, gmt_modified = now()
        WHERE id = #{id}
    </update>

    <update id="updateThumbDown" parameterType="java.lang.Long">
        UPDATE ask_question
        SET thumb_down = thumb_down + 1, gmt_modified = now()
        WHERE id = #{id}
    </update>

    <update id="updateViews" parameterType="java.lang.Long">
        UPDATE ask_question
        SET views = views + 1, gmt_modified = now()
        WHERE id = #{id}
    </update>

    <update id="updateAnswers" parameterType="java.lang.Long">
        UPDATE ask_question
        SET answers = answers + 1, gmt_modified = now()
        WHERE id = #{id}
    </update>
</mapper>
